.leaflet-container {
  width: 100%;
  height: 100vh;
}
/* .leaflet-top {
} */
.search-control-wrap {
  --icon-width: 36px !important;
  --icon-height: 36px !important;
}
.leaflet-right {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .leaflet-right {
    display: block;
  }
}
