.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  margin-top: 10px;
}

.search-control-wrap {
  --icon-width: 36px !important;
  --icon-height: 36px !important;
}
.search {
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    margin-top: 6px;
  }
}
