html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
}

.MuiLink-underlineHover {
  margin-right: 10px !important;
}
.MuiToolbar-regular {
  padding: 0 !important;
}
.MuiTypography-h6 {
  margin-left: 10px !important;
}
.MuiToolbar-gutters {
  background-color: #4856568f !important;
}

.leaflet-right {
  display: flex !important;
}

.map-continer {
  height: 92vh;
}
.nav-continer {
  height: 8vh;
}

@media only screen and (max-width: 600px) {
  .leaflet-right {
    display: block !important;
  }
}
